.ImageUpload{
    border-top: 1px solid lightgray;
    position: sticky;
    bottom: 0;
    background-color: white;
}
.ImageUpload__form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
}

.ImageUpload__progressBar{
    width: 100%;
}

.ImageUpload__inputField{
    margin-bottom: 15px;
}